:root{
    --primary-colour: #DFC72D;
    --primary-colour-lighter: #EEDE99;
    --text-all: #F6EDDE;
    --text-darker: #000000

}

*{ margin:0; padding:0;}



nav{
   
    width: 100vw;
    z-index: 1000; 
    font-family: Poppins, sans-serif;
    background-color: black;
    text-decoration: none;
    color:#F6EDDE;
    display: flex; align-items: center; justify-content: space-between;
    margin: 0; padding-bottom:1vw;padding-top:1vw; padding-left:1rem;
    position: fixed;
}



#about:target ~ nav { background-color:#DFC72D;}

nav li{
    list-style: none;
    display: inline;
    margin-right: 3rem
}


#sec1{ 
       text-align: center;
       padding-top: 0.1rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;  width: 100vw;
       text-align: center; }

#sec1 p :first-of-type{ margin-bottom:rem}

@keyframes alternatetyping {
    from { width: 0; }
    to { width: 100%; }
}


#sec1 h1
{ font-family: "Poppins", sans-serif;
    color:#F6EDDE;
    font-weight: 600;
    font-style: normal;
    font-size: 9rem; 
    margin: 0 auto;
    line-height: 11rem;
    border-right: 0rem, solid, #F6EDDE;
    width: 100%; 
    white-space: nowrap;
    overflow: hidden;
    animation:alternatetyping 2s steps(18),
    cursor .4s step-end infinite alternate;
   }

   @keyframes cursor{ 
    100% { border-color: #F6EDDE}
   }

#sec1 h3
{color:#EEDE99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 0; 
        line-height: 1px;}

#sec1 h6
{color: #EEDE99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
   font-size: 2rem;
  
    }


    

       #about h4 {color:#EEDE99;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5vw;
        margin-left: 35vw;
        margin-top: 10vw;
        margin-bottom: 0; 
        line-height: 1vw;}

        #about p {color:#F6EDDE;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5vw;
            margin-top: 0; margin-bottom: 0; margin-left:13vw; margin-right: 4vw;
            line-height: 2vw;
            padding:0;}

           

        #about h2 {color:#DFC72D;
            font-family: "Poppins", sans-serif;
            margin-left: 12vw;
            
            font-weight: 550;
            font-style: normal;
            font-size: 4.5vw; 
            margin-bottom:0; margin-top:0; padding: 0;
            line-height: 8.5vw;;
        }

        #about h4{ margin-top: -1vw;}

        #about { 
           
           
            display: flex;
            
            align-items: center;
          }

          #about img
          {padding-left: 8vh;}

          


          .links a{ color: #F6EDDE}

          #contact pre
          { color:#000000;
           font-family: "Poppins", sans-serif;
           margin-left: -7vw; padding-left: 0vw; margin-bottom: 4vw;
           font-weight: 700;
           font-size: 9vw;
           margin-top: -1vw;
           line-height: 7.5vw;
          }
        
          #contact p
          {color:#F6EDDE;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5vw;
            margin-left: 12.5vw; margin-right: 50vw;
            line-height: 2vw;
            padding:0;
            width: 32vw}

          #contact a, h5
          { color:#EEDE99;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 1.5vw;
            
            
            
            line-height:0vw;}

            #contact {margin: 0;
                padding: 0;
                display: flex;
                flex-direction: row;
                width: 100vw;
                height: 100vh;
                
                
                }
            
                #contact .stuff
                { display:flex;
                  flex-direction: column;
                width: 650px;}

            #contact .soc {
                display: flex;
               
                flex-direction: column;
                justify-content:space-around;
                width: 1vw; height: 1vh;
                margin-top: vw ;
                padding-top: 7.5vw; 
                
                }

            
              
            
            .type
            { display: inline-block;}

            #contact p
        {font-size: 2rem; line-height:2rem;
         width: 40vw;
        text-align:left;
        margin-left:12rem;}

        .socwrap{margin-top: 10vh;}

        form
        {color: #EEDE99;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
           font-size: 1.5rem; }

        .inputmail
        { color: transparent; background-color:#F6EDDE;
          border:   0.15rem solid black;
          border-radius: 0.75rem;
          outline: none; 
          padding: 0.15rem;
         }

         .inputfeedback
         { color: transparent ; background-color: #F6EDDE;
            border: 0.15rem solid black;
            border-radius: 0.75rem;
            padding: 0.15rem;
            outline:none;
           }

           form{ margin-left: 16rem;
                 margin-top: -6rem;}
    

           #contact .stuffnform
           {display: flex;
            flex-direction: row;}

           #contact form
           { margin-top: 6rem;}

           button
           {  font-family: "Poppins", sans-serif;
            color:#F6EDDE; background-color:black;
            border: 0.15rem none transparent;
            border-radius: 0.75rem;
            padding: 0.15rem;
            outline:none;
            padding: 0.5rem 1rem;
            margin-left:12rem;}

            .soc{
              font-size: 3rem;
              color: black;
          }

          
           
    
    
    @media only screen and ( min-width: 392px) and (max-width: 780px)
    {  *{ margin:0; padding:0;}

        nav
        {font-size: 3vw;
        padding-top:3vw;
        padding-bottom: 3vw;}

        nav .icons
        { padding-left: 2vw;
          font-size: 4vw;}

        #sec1
       

        #sec1 h1
        { font-size: 9rem;}
        #sec1 h3
        { font-size: 4rem;}
        #sec1 h6
        { font-size: 4rem;}

         
        #about 
        { background-color: #000000;          
          width: 100vw;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-content: center;
          justify-content: center;
          align-items: center;
          
        }

        #about .content
        { margin-top: 11vh; margin-right: 9vh;; padding:0; width: 100vw; height: 100vh;
         text-align: center;}

         #about img
         { width: 22vh;
           padding-top: 6rem; padding-right:3rem;}

        #about h4
        { font-size: 2.5rem;
          padding-top: 0rem;
          margin-right: 6rem;}
        
        #about h2
        { font-size: 4rem;
          padding-top: 3.5rem;
          margin-left: 8rem;}

        #about p 
        { font-size: 2rem;
          line-height: 4.5rem;
          text-align: center;
          margin-left: 12rem;}

        #contact
        { padding-top: 9rem;}

        #contact pre 
        { font-size: 5vh;}

        #contact p 
        { margin-left: 6rem; 
          width: 80vw;}

          
        .socwrap
        { margin-top:2.5vh;
        margin-left: -20vh;}

        button
        { padding:1rem, 1.5rem;
          margin-top: 2rem;
          font-size: 1.5rem;}

        #contact .stuffnform
        {display: flex;
         flex-direction: column;}

         #contact form
         { margin-top: -8rem;
           margin-left: 8rem;}
        }

         @media only screen and (max-width:391px) 
         { .icons 
           { font-size: 1rem; margin-right: 0.5rem;}

           .links
           { font-size:0.75rem; margin-right:0.5rem;}

           nav li 
           { margin-right:1rem;}
          #sec1 h1
          { font-size: 5rem; line-height: 7rem;}
          #sec1 h3
          { font-size: 2rem;}
          #sec1 h6
          { font-size: 2rem; }
  
          
          *{ margin:0; padding:0;}
            
            #sec1
            { width: 100vw; }
            
            .stuffnform
            {margin-left:4rem;}

            #about img 
            { width:200px;
              padding-top: 10rem;padding-bottom: -3rem; padding-right: 4rem;}

              #about 
              { background-color: #000000;          
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: center;
                align-items: center;
              
                
              }
      
              #about .content
              { margin-top: 5vh; margin-right: 6vh;; padding:0; width: 100vw; height: 100vh;
               text-align: center; ;} 
                
               #about h2 { font-size:2rem;}
               #about h4{ font-size: 1rem;
                           line-height: 2rem;}

               #about p {  font-size: 1rem; line-height:2rem;};

               #contact.stuffnform
                { display: flex;
                flex-direction: column;}


               .stuff{ height: 11vh;;}


               .idk
               { font-size: 2rem; text-align: right; width: 130px;}

               #contact p 
               { font-size: 1rem; width: 90vw; margin-left: -2rem; margin-right: 0rem; line-height: 1.5rem; margin-top: 2rem;}

               .socwrap
               { margin-left:0rem; padding-left:0rem; margin-top:2rem; height: 6vh;}

               #contact .soc
               { font-size:1rem; margin-left:3rem; margin-top:2.75rem; }

               
               

               #contact .stuff
               { width: 40vw;}

               #contact form
               { margin-left:-15rem; width: 83vw; margin-top:23rem; }
                
               button 
               { margin-left: 7.5rem;}

               a
               { font-size: 1rem;}

               #contact pre 
               { font-size: 5rem;
                 text-align: left;
                margin-left: -12rem;
                line-height: 3.75rem;}


               

                


        
        
        
        
        
        
        
        
        
        
        }
         
           #contact
           {width:100vw; height: 100vh;}
        


        


    
    
