:root{
    --primary-colour: #DFC72D;
    --primary-colour-lighter: #EEDE99;
    --text-all: #F6EDDE;
}

nav{
   
    width: 100%;
    z-index: 1000; 
    font-family: Poppins, sans-serif;
    background-color: black;
    text-decoration: none;
    color:#F6EDDE;
    display: flex; align-items: center; justify-content: space-between;
    margin: 0; padding:0;
    position: fixed;
}



#about:target ~ nav { background-color:#DFC72D;}

li{
    list-style: none;
    display: inline;
    margin-right: 3rem
}


#sec1{ 
       text-align: center;
       padding-top: 0.1rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       height: 100vh;  
       text-align: center; }

#sec1 p :first-of-type{ margin-bottom:rem}


#sec1 h1
{ font-family: "Poppins", sans-serif;
    color:#F6EDDE;
    font-weight: 600;
    font-style: normal;
    font-size: 9rem; 
    margin: 0 auto;
    line-height: 11rem;;
   }

#sec1 h3
{color:#EEDE99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 4rem;
    margin-top: 10rem;
    margin-bottom: 0; 
        line-height: 1px;}

#sec1 h6
{color: #EEDE99;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
   font-size: 2rem;
   margin: 0 auto;
    }


     #about img{ 
        margin-top: 6rem;
        margin-left: 6rem;
        margin-right: -30rem;
     }

       #about h4 {color:#EEDE99;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 2.5rem;
        margin-left: 35rem;
        margin-top: 10rem;
        margin-bottom: 0; 
        line-height: 1px;}

        #about p {color:#F6EDDE;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5rem;
            margin-top: 0; margin-bottom: 0; margin-left:40rem; margin-right: 4rem;
            line-height: 2rem;
            padding:0;}

           

        #about h2 {color:#DFC72D;
            font-family: "Poppins", sans-serif;
            margin-left: 35rem;
            
            font-weight: 550;
            font-style: normal;
            font-size: 4.5rem; 
            margin-bottom:0; margin-top:0; padding: 0;
            line-height: 8.5rem;;
        }

        #about { 
           
            padding: 0; margin: 0;    
             
            display: flex;
            justify-content: safe;
            align-items: center;
          }


          .links a{ color: #F6EDDE}

          #contact pre
          { color:#000000;
           font-family: "Poppins", sans-serif;
           margin-left: -7rem; padding-left: 0rem; margin-bottom: 4rem;
           font-weight: 700;
           font-size: 9rem;
           margin-top: -1rem;
           line-height: 7.5rem;
          }
        
          #contact p
          {color:#F6EDDE;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5rem;
            margin-left: 12.5rem; margin-right: 50rem;
            line-height: 2rem;
            padding:0;}

          #contact a, h5
          { color:#EEDE99;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-size: 1.5rem;
            margin-left: 10rem; margin-right: 50rem;
            margin-bottom: 0rem;
            line-height:0rem;}

    
    
    


    
