:root{
    --primary-colour: #DFC72D;
    --primary-colour-lighter: #EEDE99;
    --text-all: #F6EDDE;
    --text-darker: #000000
     }


     *{ margin:0; padding:0;}


     a {text-decoration: none; } 


     body
     {background-color: #000000;}



nav{
   
    width: 100vw;
    z-index: 1000; 
    font-family: Poppins, sans-serif;
    background-color: black;
    text-decoration: none;
    color:#F6EDDE;
    display: flex; align-items: center; justify-content: space-between;
    margin: 0; padding-bottom:1vw;padding-top:1vw; padding-left:1rem;
    position: fixed;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 3rem;
}

.container
{display:flex; justify-content:center;
 }

.card
{align-content: center;
 margin-top: 10rem;margin-right: 2rem; 
 background-image: url(PROJECTS\sdsshit\DESKFLIP.jpg); border: 0rem none transparent; border-radius:2rem;
 width: 20vw;
 height: 70vh;
 }

 .card1
{align-content: center;
 margin-top: 10rem;margin-right: 2rem; 
 background-image: url(PROJECTS\sdsshit\DESKFLIP.jpg); border: 0rem none transparent; border-radius:2rem;
 width: 20vw;
 height: 70vh; 
 }

 .card2
{align-content: center;
 margin-top: 10rem;margin-right: 2rem; 
 background-image: url(PROJECTS\sdsshit\DESKFLIP.jpg); border: 0rem none transparent; border-radius:2rem;
 width: 20vw;
 height: 70vh;
 }

 .card3
{align-content: center;
 margin-top: 10rem;margin-right: 2rem; 
 background-image: url(PROJECTS\sdsshit\DESKFLIP.jpg); border: 0rem none transparent; border-radius:2rem;
 width: 20vw;
 height: 70vh;
 }


 h2
 { margin-top: 14rem;
    color:#000000;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  text-align: center;
  line-height:2rem;}

 p{ padding: 2rem; color:#000000;
    font-family: "Poppins", sans-serif;
    font-size:1rem;
    text-align: center;
    line-height:1rem;}

a{ text-decoration: none; color: #FFFFFF;}



@media only screen and ( min-width: 392px) and (max-width: 780px)

{
    *{ margin:0; padding:0;}


    .container
  {display:flex; flex-direction: column; justify-content:center;
   }

   .card{ width:90vw; height:10vh; margin-left:2rem;}
   .card1{ width:90vw; height:10vh; margin-left:2rem;}
   .card2{ width:90vw; height:10vh; margin-left:2rem;}
   .card3{ width:90vw; height:10vh; margin-left:2rem;}

    h2
   { margin-top: 1rem; }

   p { padding: 1rem;}


}

@media only screen and (max-width:391px) 

{.icons 
    { font-size: 1rem; margin-right: 0.5rem;}

    .links
    { font-size:0.75rem; margin-right:0.5rem;}

    nav li 
    { margin-right:1rem;}

    .container
    {display:flex; flex-direction: column; justify-content:center; 
     }
     
     .card{ width:90vw; height:20vh; margin-left:2rem; margin-top:3rem;margin-left:1.35rem;}
     .card1{ width:90vw; height:20vh; margin-left:2rem; margin-top:2rem;margin-left:1.35rem;}
     .card2{ width:90vw; height:20vh; margin-left:2rem; margin-top:2rem;margin-left:1.35rem;}
     .card3{ width:90vw; height:20vh; margin-left:2rem; margin-top:2rem;margin-left:1.35rem;}
  
      h2
     { font-size: 1.5rem; margin-top: 1rem; }
  
     p { font-size: 1rem; padding: 1rem;}


}
